<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<div class="text-center m-top-80">
  <h1>Welcome to Job Board</h1>
  <p class="lead">Come on in to post your jobs... All you need to do is sign up!</p>
</div>
<app-account></app-account>
<!-- <div class="text-center">
    <button class="btn btn-primary btn-lg">Register</button>
    <button class="btn btn-info btn-lg">Learn More</button>
  </div> -->
<!-- register page html -->
<!-- <form>
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="button">Cancel</button>
  </div>
</form>
<app-example></app-example> -->
