<div class="container m-top-80">
  <h5 class="lead font-custom">
    Dashboard - Job list
  </h5>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown" dropdown>
              <a class="nav-link dropdown-toggle pointer-cursor" dropdownToggle (click)="false">
                  <i class="fa fa-cog"></i> Configurations
              </a>
              <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item"  [routerLink]="['/region']" ><i class="fa fa-plus-circle"></i> Add regions</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/location']"><i class="fa fa-plus-circle"></i> Add locations</a>
              </div>
            </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i> Search</button>&nbsp;
        <button class="btn btn-info my-2 my-sm-0" type="submit"><i class="fa fa-plus"></i> Post a new job</button>
      </form>
    </div>
  </nav>
  <table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Text</th>
    </tr>
    <tr *ngFor="let example of examples">
        <td> {{ example.id }} </td>
        <td> {{ example.text }} </td>
    </tr>
  </table>
</div>

